[Unit]
Description=1xbet.clean.service
After=network.target

[Service]
WorkingDirectory=/mount/src/emoji-shortcodes
ExecStart=/mount/src/emoji-shortcodes/.venv/bin/python delete_ended_matches.py
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
IgnoreSIGPIPE=true
Restart=always
RestartSec=3
Type=simple

[Install]
WantedBy=multi-user.target